# OS
.DS_Store
Thumbs.db

# Editors
.idea/
.vscode/
*.swp
*.swo

# Python
__pycache__/
*.py[cod]
*.egg-info/
venv/

# Build artifacts
build/
dist/
docs/_build/
.docs-venv/
target/

# Misc
*.log
tmp/
**/logs
